@charset "utf-8";

// color
$point-light: #528ff2;
$point-dark: #00b050;

// text color
$text-point: #00b050;
$text-logo: #696969;
$text-dark: #212529;
$text-white: #ffffff;
$text-normal: #555555;
$text-nav: #ffffff;
$text-search: #6c757d;

// point color
$point-green: #00b050;
$point-blue: #1867c0;
$point-red: #ff5252;

// background color
$bg-active: #528ff2;
$bg-nav: #494949;
$bg-nav-hover: #555755;
$bg-title: #f7f7f7;
$bg-input: #f7f7f7;
$bg-input-hover: rgba(82,143,242,.05);
$bg-select: #f6f9fe;
$bg-search-title: #f7f7f7;
$bg-modal-title: #505050;
$bg-input-address: #e9ecef;

// button color
$button-address: #6c757d;
$button-address-hover: #5a6268;
$bg-button-active: #4c7fb9;

// line color
$line-light: #dedede;
$line-strong: #555555;
$line-outside: #888888;              
$line-inside: #e6e6e6;

// border color
$border-input: #bebebe;
$border-title: #555555;
$border-select: #ced4da;
$border-search-radio: #6c757d;
$border-search-radio-hover: #9CA2A8;